@import 'components/common.scss';

.landing-page {
  min-height: 100vh;
  padding-top: 5vh; 
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  .main-header {
    @include standard-header();
    font-family: $header-font;
    font-size: 5rem;
  }
  .subtitle {
    @include center-horizontally();
    @include text-color();
    font-weight: 800;
    margin: 1rem;
    font-size: x-large;
  }
  .description {
    @include center-horizontally();
    @include text-color();
    margin: 2rem;
    font-size: larger;
  }
  svg {
   
    margin: 0 -1rem;
  }
}



